{namespace neos=Neos\Neos\ViewHelpers}
<!-- TODO -->

<f:layout name="Default"/>

<f:section name="head">
    <title>Błąd!</title>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/main.css', package: 'App.Site')}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</f:section>

<f:section name="body">
    <div class="error-404">
        <div class="container">
            <h1>404</h1>
            <p>Page not found</p>
            <p>Strona, której szukasz nie istniej lub wystąpił błąd. <br> Cofnij się do <a href="/">strony głównej</a>.</p>
        </div>
    </div>
    <f:render partial="../../Page/Partials/Footer" arguments="{social:parts.social,contact:parts.contact,address:parts.address,menu:parts.footerMenu,openClose:parts.openClose}" />
</f:section>
