.background{background-repeat:no-repeat;background-position:50% 50%;background-position:50% 50% 9 !important}html,body{height:100%}.fullscreen,.content-a{width:100%;height:100%;overflow:hidden}.fullscreen.overflow,.fullscreen.overflow .content-a{height:auto;min-height:100%}.content-a{display:table}.content-b{display:table-cell;position:relative;vertical-align:middle;text-align:center}
