{namespace form=Neos\Form\ViewHelpers}
<f:form.validationResults for="{element.identifier}">
	<div class="form-group {f:if(condition: validationResults.flattenedErrors, then: ' error')}"<f:if condition="{element.rootForm.renderingOptions.previewMode}"> data-element="{form:form.formElementRootlinePath(renderable:element)}"</f:if>>
		<label for="{element.uniqueIdentifier}">{f:translate(id:element.label,package:'DevHero.Contact')}<f:if condition="{element.required}"><f:render partial="Neos.Form:Field/Required" /></f:if></label>
		<div class="{element.properties.containerClassAttribute}">
			<f:render section="field" />
			<f:if condition="{validationResults.flattenedErrors}">
				<span class="help-inline">
					<f:for each="{validationResults.errors}" as="error">
						{error -> f:translate(id: error.code, arguments: error.arguments, package: '{element.renderingOptions.translationPackage}', source: 'ValidationErrors')}
						<br />
					</f:for>
				</span>
			</f:if>
			<f:if condition="{element.properties.elementDescription}">
				<span class="help-block">{element.properties.elementDescription}</span>
			</f:if>
		</div>
	</div>
</f:form.validationResults>