{namespace form=Neos\Form\ViewHelpers}
<f:layout name="Neos.Form:Field"/>
<f:section name="field">
	<div id="upload_message hidden">

	</div>
	<form:form.uploadedResource property="{element.identifier}" as="resource">
		<div id="{element.uniqueIdentifier}-uploadfields" {f:if(condition:resource, then:
		' style="display:none"')} class="form__upload-wrapper">
		<div>
            <span class="upload__message upload__message--init"><f:translate id="file.choose" package="App.Site">Wybierz plik z dysku bądź przeciągnij i upuść</f:translate> <i
					class="fa fa-2x fa-download"></i></span>
			<span class="upload__message upload__message--alert upload__message--hidden"><f:translate id="file.error" package="App.Site">Błędne rozszerzenie pliku! Akceptujemy tylko pliki PDF i DOC</f:translate></span>
			<span class="upload__message upload__message--drop upload__message--hidden"><f:translate id="file.drop" package="App.Site">Upuść plik aby dodać</f:translate></span>
			<span class="upload__message upload__message--success upload__message--hidden"><f:translate id="file.added" package="App.Site">Dodano plik</f:translate> <i></i></span>

			<f:if condition="{element.properties.required}">
				<f:then>
					<f:form.upload property="{element.identifier}" id="{element.uniqueIdentifier}"
								   class="{element.properties.elementClassAttribute} upload__file"
								   additionalAttributes="{data-parsley-required-message:'Pole wymagane!',required:true}"/>
				</f:then>
				<f:else>

					<f:form.upload property="{element.identifier}" id="{element.uniqueIdentifier}"
								   class="{element.properties.elementClassAttribute} upload__file"/>
				</f:else>
			</f:if>
			<f:if condition="{resource}">
				<div class="form-group">
					<a class="btn small" href="#"
					   onclick="return !disableUpload('{element.uniqueIdentifier}')">Cancel</a>
				</div>
			</f:if>
		</div>
		</div>
		<f:if condition="{resource}">
			<div id="{element.uniqueIdentifier}-preview">
				<a href="{f:uri.resource(resource: resource)}">
					{resource.filename}
				</a>
				<div class="form-group">
					<a class="btn small" href="#" onclick="return !enableUpload('{element.uniqueIdentifier}')">Replace
						File</a>
				</div>
			</div>
		</f:if>
		<script type="text/javascript">
			//<![CDATA[
			var resourcePointers = [];
			function enableUpload(property) {
				document.getElementById(property + '-preview').style.display = 'none';
				document.getElementById(property + '-uploadfields').style.display = 'block';
				resourcePointers[property] = document.getElementById(property + '-resourcePointer').value;
				document.getElementById(property + '-resourcePointer').value = '';
				return true;
			}
			function disableUpload(property) {
				document.getElementById(property + '-preview').style.display = 'block';
				document.getElementById(property + '-uploadfields').style.display = 'none';
				document.getElementById(property + '-resourcePointer').value = resourcePointers[property];
				return true;
			}
			//]]></script>
	</form:form.uploadedResource>
</f:section>