{namespace form=Neos\Form\ViewHelpers}

<div class="formulary container">

    <div class="row text-center">
        <div class="col-md-12">
            <h3>{form.renderingOptions.message}</h3>
            <form:form action="index" object="{form}" method="post" id="{form.identifier}"
                       section="{form.identifier}" enctype="multipart/form-data" class="form">
                <form:renderRenderable renderable="{form.currentPage}"/>
                <div class="actions text-center">
                    <f:render partial="Neos.Form:Form/Navigation" arguments="{form: form}"/>
                </div>
            </form:form>
        </div>
    </div>
</div>