{namespace form=Neos\Form\ViewHelpers}
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <f:for each="{page.elements}" as="element">
                    <form:renderRenderable renderable="{element}"/>
                </f:for>
            </div>
        </div>