<f:layout name="Neos.Form:Field" />
<f:section name="field">
	<f:form.textfield property="{element.identifier}" id="{element.uniqueIdentifier}" class="{element.properties.elementClassAttribute}" placeholder="{f:translate(id:element.properties.placeholder,package:'DevHero.Contact')}" errorClass="{element.properties.elementErrorClassAttribute}" />
</f:section>