/** MONTSERRAT **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  src: url('../Fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  src: url('../Fonts/Montserrat-Light.ttf') format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('../Fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('../Fonts/Montserrat-Bold.ttf') format('truetype');
}



