/* container-fluid tricks */
@media screen and (min-width: $screen-lg) {
  .container-fluid {
    max-width: 2150px;
  }
}

.ipad-portrait {
  .container-fluid {
    overflow: hidden;
  }
}

.container-fluid {
  –webkit-overflow-scrolling: touch;
}

/* remove focus/active chrome/safari blue borders */
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
select:focus,
select:hover,
select:active {
  -webkit-appearance: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

/* utility */
.input-group {
  width: 100% !important;
}

.select2-selection--single {
  outline: 0 !important;
  box-shadow: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  @include font("Montserrat", 100);
  font-size: 16px;
  color: white !important;
  letter-spacing: 0.1px;
  line-height: 50px;
}

::-moz-placeholder { /* Firefox 19+ */
  @include font("Montserrat", 100);
  font-size: 16px;
  color: white !important;
  letter-spacing: 0.1px;
  line-height: normal;
}

:-ms-input-placeholder { /* IE 10+ */
  @include font("Montserrat", 100);
  font-size: 16px;
  color: white !important;
  letter-spacing: 0.1px;
  line-height: normal;
}

:-moz-placeholder { /* Firefox 18- */
  @include font("Montserrat", 100);
  font-size: 16px;
  color: white !important;
  letter-spacing: 0.1px;
  line-height: normal;
}

.tag {
  /* Rectangle: */
  &:hover {
    background: $brand-primary;
    color: $brand-secondary;
  }
  @include font("Montserrat", 400);
  background: white;
  padding: 3px 10px;
  color: #555555;
  font-size: 10px;
  letter-spacing: 0.07px;
  line-height: 26px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.20);
  border-radius: 30px;
  transition: 0.5s ease;
}

.circle-icon {
  transition: 0.5s ease;
  background: #FFFFFF;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.20);
  border-radius: 30px;
  padding: 6px 10px 6px 9px;
  color: $brand-secondary;
  &:hover {
    background: $brand-primary;
    box-shadow: 0;
  }
}
