
// =============================================================================
// DevHero Mixins
// =============================================================================

@mixin transition ($speed: 0.4s, $type: ease-in) {
  transition: $speed, $type;
}


// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// @include font-face(Samplino, fonts/Samplino);
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin media($point) {
  @if $point == "max-479" {
    @media (max-width: 479px) {
      @content;
    }
  }
  @else if $point == "min-480" {
    @media (min-width: 480px) {
      @content;
    }
  }
  @else if $point == "max-599" {
    @media (max-width: 599px) {
      @content;
    }
  }
  @else if $point == "min-600" {
    @media (min-width: 600px) {
      @content;
    }
  }
  @else if $point == "max-767" {
    @media (max-width: 767px) {
      @content;
    }
  }
  @else if $point == "min-768" {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $point == "max-991" {
    @media (max-width: 991px) {
      @content;
    }
  }
  @else if $point == "min-992" {
    @media (min-width: 992px) {
      @content;
    }
  }
  @else if $point == "min-1200" {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @else if $point == "min-1350" {
    @media (min-width: 1350px) {
      @content;
    }
  }
  @else if $point == "min-1550" {
    @media (min-width: 1550px) {
      @content;
    }
  }
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
}


// =============================================================================
// DevHero Mixins + ShoppingLife
// =============================================================================

@mixin transition($speed, $type) {
  -webkit-transition: all $speed $type;
  transition: $speed $type;
}

@mixin font($font-family, $font-weight) {
  font-family: $font-family;
  font-weight: $font-weight;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media screen and (min-width: 576px) {
      @content;
    }
  } @else if $class == sm {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin text-rwd() {
  text-align: center;
  @include breakpoint(sm) {
    text-align: left;
  }
}

@mixin input-styling($background) {
  background: $background;
  border-radius: 2px;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
}

@mixin input-select2-styling() {
  @include font("Akrobat", 400);
  font-size: 14px;
  letter-spacing: 0.1px;
  border: 0;
  background: #F2F2F2;
  border-radius: 0;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  &:before {
    width: 1px;
    height: 20px;
    background: #D51C1F;
    margin-left: -10px;
    position: absolute;
    content: '';
    margin-top: 15px;
  }

}

@mixin select2-styling() {
  @include font("Akrobat", 400);
  font-size: 14px;
  letter-spacing: 0.1px;
  border: 0;
  background: #F2F2F2;
  border-radius: 0;
  padding-left: 10px;
  height: 50px;
  line-height: 50px
}

@mixin bottomBar() {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: #50E3C2;
  content: '';
  height: 1px;
  width: 25px;
}

@mixin bottomShadow() {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  padding-bottom: 50px;
}

@mixin topShadow() {
  box-shadow: 30px 20px 0 0 rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  padding-top: 50px;
}

