$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


$c-blue: #1B9DFC;
$c-pink: #DB0064;
$c-green: #009574;
$c-yellow: #C2B100;

$c-red: #D51C1F;

$c-white: #fff;
$c-grey: #6F6F6F;
$c-light-grey: #F4F2F4;
$c-dark-grey: #4A4A4A;

$brand-primary: #9FEECA;
$brand-secondary: #54A699;
$brand-dark: black;

$font-family-sans-serif:  "Montserrat", Helvetica, Arial, sans-serif !default;