{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<div class="container-fluid white-bg">
    <div class="container authorized-representative">
        <div class="row wow fadeInUp">
            <div class="col-md-12">
                <div class="page-header">
                    <h2><strong>JESTEŚMY AUTORYZOWANYM</strong><br/>
                        PRZEDSTAWICIELEM</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr/>
                <div class="row">
                    <div class="col-md-4 col-sm-12 wow fadeInUp"><img
                            src="{f:uri.resource(path: 'images/goodyear.jpg', package: 'App.Site')}"
                            class="img-responsive img-center"/>
                    </div>
                    <div class="col-md-4 col-sm-12 wow fadeInUp"><img
                            src="{f:uri.resource(path: 'images/revoseals.jpg', package: 'App.Site')}"
                            class="img-responsive img-center"/>
                    </div>
                    <div class="col-md-4 col-sm-12 wow fadeInUp"><img
                            src="{f:uri.resource(path: 'images/codex.jpg', package: 'App.Site')}"
                            class="img-responsive img-center"/>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid map-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-btn gradient-bg white-txt wow fadeInUp">
                    <div class="wrapper make-call">
                        <div class="row text-center">
                            <div class="col-md-5"><strong>ZADZWOŃ</strong></div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-xs-12"><i class="fa fa-phone"></i>
                                        <a href="tel:566232114">56/62-321-14</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"><i class="fa fa-print white"></i>
                                        56/62-316-94
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="contact-btn gradient-bg white-txt wow fadeInUp">
                    <a href="javascript:void(0)" class="wrapper send-message" data-toggle="modal"
                       data-target="#myModal">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <strong>Napisz do nas <i class="fa fa-angle-double-right"></i></strong>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="map wow fadeInUp"></div>
    <!--<iframe id="map" src="{f:uri.resource(path: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2399.4109500150303!2d18.628472916278213!3d53.03095127991415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470334bfe73d2b65%3A0x1d66df83251f3c8!2sCoala!5e0!3m2!1spl!2spl!4v1453163201759"  frameborder="0" style="border:0" allowfullscreen></iframe>-->

</div>
<div class="container-fluid gradient-bg newsletter-bar white-txt wow fadeInUp">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-md-9 col-xs-12 col-sm-9">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="newsletter"><h3><strong>NEWSLETTER</strong></h3></label>
                        <input type="text" class="form-control" id="newsletter" placeholder="email@domena.pl">
                    </div>
                    <div class="form-group text-center">

                        <button type="submit" class="btn btn-newsletter gradient-bg"><span>Zapisz się <i
                                class="fa fa-angle-double-right fa-lg"></i></span></button>
                    </div>
                </form>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 text-center social">
                <hr class="visible-xs"/>
                <a href="" class="white-txt"><i class="fa fa-facebook-official fa-3x txt-white"></i> </a>
                <a href="" class="white-txt"><i class="fa fa-twitter fa-3x txt-white"></i> </a>
                <a href="" class="white-txt"><i class="fa fa-linkedin fa-3x txt-white"></i> </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer visible-sm visible-xs">

    <div class="row credits wow rollIn ">
        <div class="col-md-12 text-center">
            <p class="lead">Zaprojektowano i wdrożono przez <a href="http://www.devhero.pl/"
                                                               title="Responsywne strony i sklepy internetowe - Neos, Magento"
                                                               target="_blank">www.devhero.pl</a></p></div>
    </div>
</div>
<div class="container-fluid footer visible-lg visible-md">
    <div class="container">
        <div class="row wow fadeInUp">

            <div class="col-md-3">
                <h2>O <strong>Firmie</strong></h2>

                {footerMenu-> f:format.raw()}
            </div>
            <div class="col-md-3">
                <h2><strong>Nasza</strong> Oferta</h2>

                {footerSecondMenu -> f:format.raw()}

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="row credits wow rollIn">
        <div class="col-md-12 text-center">
            <p class="lead">Zaprojektowano i wdrożono przez <a href="http://www.devhero.pl/"
                                                               title="Responsywne strony i sklepy internetowe - TYPO3 Neos, Magento"
                                                               target="_blank">www.devhero.pl</a></p></div>
    </div>
</div>
<div id="toTop">
    <a href="#top"><i class="fa fa-arrow-circle-up fa-3x"></i></a>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Napisz do nas</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form">
                    <div class="form-group"><input type="text" placeholder="Twój adres email" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="10" class="form-control"
                                  placeholder="Treść wiadomości"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij <i class="fa fa-remove"></i>
                </button>
                <button type="submit" class="btn btn-primary">Wyślij <i class="fa fa-paper-plane-o"></i></button>
            </div>
        </div>
    </div>
</div>