{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<div class="outer-menu visible-xs visible-sm">
    <input class="checkbox-toggle" type="checkbox"/>
    <div class="hamburger">
        <div></div>
    </div>
    <div class="mobile-menu">
        <div>
            <div>
                <ul>
                    <li><a href="">Firma</a></li>
                    <li><a href="">Polityka</a></li>
                    <li><a href="">Oferta</a></li>
                    <li><a href="">Promocje</a></li>
                    <li><a href="">Nowości</a></li>
                    <li><a href="">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid white-bg">
    <div class="container" id="start">

        <div class="row wow fadeInUp margin-top-30">
            <div class="col-md-3 visible-md visible-lg">
                <h1 class="brand-logo"><a href=""><img
                        src="{f:uri.resource(path: 'images/logo.png', package: 'App.Site')}" alt=""
                        class="img-responsive"></a></h1>

            </div>
            <div class="col-md-9">
                <div class="row ">
                    <div class="col-md-6 col-sm-6 visible-md visible-lg">

                        <form action="" class="form search-form top-search">
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" placeholder="Szukaj...">
      <span class="input-group-btn">
        <button class="btn btn-clear btn-lg" type="button"><i class="glyphicons glyphicons-search red x15"></i></button>
      </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 visible-lg visible-md text-right alarm-box">
                        <i class="pull-right fa fa-bell-o fa-4x red"></i>
                        <h3 class="no-padding no-margin alarm-header red-txt">Numer alarmowy</h3>
                        <a href="tel:+48513085559" class="gray-txt alarm-number">513 085 559</a>
                    </div>
                </div>
                <div class="row visible-lg visible-md">
                    <div class="col-lg-12">
                        {menu -> f:format.raw()}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>