<nav class="form-navigation">
	<ul class="list-inline">
		<f:if condition="{form.previousPage}">
			<li class="previous">
				<f:form.button name="__currentPage" value="{form.previousPage.index}" formnovalidate="formnovalidate" class="btn btn-cancel">Previous page</f:form.button>
			</li>
		</f:if>
		<f:if condition="{form.nextPage}">
			<f:then>
				<li class="next">
					<f:form.button name="__currentPage" value="{form.nextPage.index}" class="btn btn-primary">Next page</f:form.button>
				</li>
			</f:then>
			<f:else>
				<li class="next submit">
					<f:form.button name="__currentPage" value="{form.pages -> f:count()}" class="btn btn-primary box--bigger btn--transparent box__cta--gutter">
						{f:translate(id:form.renderingOptions.submitButtonLabel,package:'DevHero.Contact')}
					</f:form.button>
				</li>
			</f:else>
		</f:if>
	</ul>
</nav>