{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}


<!-- Additional required wrapper -->
    <!-- Slides -->
    <div class="swiper-slide parallax-bg text-center white-txt"
         style="background-image:url({f:uri.resource(path: 'images/baners/11.jpeg', package: 'App.Site')})" data-swiper-parallax="-23%">
    </div>
    <div class="swiper-slide parallax-bg text-center white-txt"
         style="background-image:url({f:uri.resource(path: 'images/baners/12.jpeg', package: 'App.Site')})" data-swiper-parallax="-23%">
    </div>
    <div class="swiper-slide parallax-bg text-center white-txt"
         style="background-image:url({f:uri.resource(path: 'images/baners/13.jpeg', package: 'App.Site')})" data-swiper-parallax="-23%">
    </div>
    <div class="swiper-slide parallax-bg text-center white-txt"
         style="background-image:url({f:uri.resource(path: 'images/baners/14.jpeg', package: 'App.Site')})" data-swiper-parallax="-23%">
    </div>
    <div class="swiper-slide parallax-bg text-center white-txt"
         style="background-image:url({f:uri.resource(path: 'images/baners/15.jpeg', package: 'App.Site')})" data-swiper-parallax="-23%">
    </div>
