//@include bottomShadow();
.news {
  &-block {
    &--small {
      min-height: 260px;
    }
    &__medium {
      min-height: 300px;
    }
    &__large {
      min-height: 500px;
    }
    margin-bottom: 30px;
    position: relative;
    transition: background-position 0.5s ease-in, box-shadow 0.5s ease-in;
    background: url("../Images/qtb.jpeg");
    background-color: $brand-primary;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    &__date, &__tag {
      transition: left 0.5s ease-in;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      &:hover {
        text-decoration: none;
      }
    }
    &__date {
      top: 25px;
    }
    &__tag {
      bottom: 25px;
    }
    &__title, &__readmore {
      padding: 0 50px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 1s ease;
    }
    &__title {
      @include font("Montserrat", 400);
      display: block;
      font-size: 18px;
      color: #000000;
      margin-top: 50px;
      margin-bottom: 20px;
      line-height: 36px;

    }
    &__readmore {
      color: $brand-secondary;
      display: block;
      margin-top: 0;
      margin-bottom: 20px;
    }
    &:hover {
      background-position-x: -300px;
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.10);
      .news-block__date, .news-block__tag {
        left: 40%;
      }
      .news-block__title, .news-block__readmore {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}


.newspage {
  &__label {
    @include font("Montserrat", 400);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    color: #54A699;
    letter-spacing: 0;
    line-height: 40px;
  }
  &__date {
    margin-top: 80px;
    display: inline;
  }
  &__author {
    @include font("Montserrat", 100);
    font-size: 16px;
    color: #B7B5B5;
    letter-spacing: 0;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}