.page {
  &__header {
    @include font("Montserrat", 400);
    font-size: 16px;
    color: #B7B5B5;
    letter-spacing: 0.7px;
    position: relative;
    text-align: center;
    &:before {
      @include bottomBar();
    }
    margin-top: 60px;
    margin-bottom: 100px;

    text-transform: uppercase;
    &--white {
      color: white;
    }
  }
}
