.user-content {
  h1 {
    @include font("Montserrat", 100);
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h2 {
    @include font("Montserrat", 100);
    font-size: 16px;
    color: #B7B5B5;
    letter-spacing: 0;
  }
  p {
    @include font("Montserrat", 100);
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 30px;
  }
  img {
    margin: 0 auto;
    padding: 20px 0;
    display: block;
  }
  blockquote {
    @include font("Montserrat", 100);
    @media screen and (min-width: $screen-md){
      margin-left: -50px;
    }
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
  }
}



