$hamburger-menu-size: 60px;
$hamburger-menu-border-radius: .12em;
$hamburger-menu-bg-color: rgba($gray, .75);
$hamburger-menu-line-height: 5px;
$hover-line-height: $hamburger-menu-line-height;
$red: darken($red, 0.1);
$content-bg-color: rgba($red, 0.8);
$main-color: $red;
$anim-duration: .4s;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}



.outer-menu {
  position: fixed;
  top: 1vh;
  right: 0;
  z-index: 999999999999999999999999999999999999;

  .checkbox-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: $hamburger-menu-size;
    height: $hamburger-menu-size;
    opacity: 0;
    color: $red;

    &:checked {
      & + .hamburger {
        > div {
          background: white;
          transform: rotate(135deg);

          &:before,
          &:after {
            top: 0;
            transform: rotate(90deg);
          }

          &:after {
            opacity: 0;
          }
        }
      }

      & ~ .mobile-menu  {
        pointer-events: auto;
        visibility: visible;

        > div {
          transform: scale(1);
          transition-duration: .75s;

          > div {
            opacity: 1;
            transition: opacity $anim-duration ease $anim-duration;
          }
        }
      }
    }

    &:hover + .hamburger {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
    }

    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }
  }

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: $hamburger-menu-size;
    height: $hamburger-menu-size;
    padding: .5em 1em;
    //background: $hamburger-menu-bg-color;
    border-radius: 0 $hamburger-menu-border-radius $hamburger-menu-border-radius 0;
    cursor: pointer;
    transition: box-shadow $anim-duration ease;
    backface-visibility: hidden;
    @include flex-center;

    > div {
      position: relative;
      flex: none;
      width: 100%;
      height: $hamburger-menu-line-height;
      background: $main-color;
      transition: all $anim-duration ease;
      @include flex-center;

      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -$hamburger-menu-size / 6;
        right: 0;
        width: 100%;
        height: $hamburger-menu-line-height;
        background: inherit;
        transition: all $anim-duration ease;
      }

      &:after {
        top: $hamburger-menu-size / 6;
      }
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    @include flex-center;

    > div {
      width: 200vw;
      height: 200vw;
      color: $main-color;
      background: $content-bg-color;
      border-radius: 50%;
      transition: all $anim-duration ease;
      flex: none;
      transform: scale(0);
      backface-visibility: hidden;
      overflow: hidden;
      @include flex-center;

      > div {
        text-align: center;
        width: 100%;
        max-width: 250px;
        max-height: 100vh;
        opacity: 0;
        transition: opacity $anim-duration ease;
        overflow-y: auto;
        flex: none;
        @include flex-center;

        //> ul {
        //  list-style: none;
        //  padding: 0 1em;
        //  margin: 0;
        //  display: block;
        //  max-height: 100vh;
        //
        //  > li {
        //    padding: 0;
        //    margin: 1em;
        //    font-size: 24px;
        //    display: block;
        //
        //    > a {
        //      position: relative;
        //      display: inline;
        //      cursor: pointer;
        //      transition: color $anim-duration ease;
        //
        //      &:hover {
        //        color: $red;
        //
        //        &:after {
        //          width: 100%;
        //        }
        //      }
        //
        //      &:after {
        //        content: '';
        //        position: absolute;
        //        z-index: 1;
        //        bottom: -.15em;
        //        right: 0;
        //        width: 0;
        //        height: $hover-line-height;
        //        background: $red;
        //        transition: width $anim-duration ease;
        //      }
        //    }
        //  }
        //}
      }
    }
  }
}
.mobile-menu {
  &--exposed {
    background: white;
    color: $red;
  }
  &--button {
    background: none;
    color: $red;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999999;
    a {
      cursor: pointer;
    }
  }
  ul{
    width: 90%;
    padding: 0;
    margin: 0 auto;
    li{
      padding: 0;
      margin: 0;
      list-style: none;
      a{
        display: block;
        padding: 1em 1em 1em 1.2em;
        outline: none;
        //box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
        color: #f3efe0;
        //text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
        letter-spacing: 1px;
        font-weight: 400;
        background: none;
        transition: background 0.3s, color 0.3s;
        &:hover{
          background: white;
          color: $red;
        }
      }
    }
  }
  &--city{
    margin: 5px auto;
    text-align: center;
  }
}