@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "compass/utilities/sprites";
@import "retina";
@import "font-awesome-sprockets";
@import "swiper";

$gray: #888888;
$red: #9b0403;
$darkgray: #393939;
$fa-sass-asset-helper: false;
$fa-font-path: "../fonts/font-awesome/";
@import "font-awesome";
@import "animate";
@import "dhicons/*.png";
@import "dhicons-retina/*.png";
@import "glyphicons";
@include all-dhicons-sprites(true);
@include all-dhicons-sprites;
@import "parallax";
@import "dev";
@import "mobile-menu";

.fadeInUp {
  @include fadeInUp($countDefault, $durationDefault, 0.2s)
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.swiper-button-prev {
  left: 17px;
}

.slider-container {
  margin-top: 80px;
}

.swiper-slide {
  min-height: 240px;
  background-size: 100% auto;
  background-position: center center;
  h2 {
    margin-top: 60px;
  }
  h2, h3 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
}

*:focus {
  outline: none;
}

.bounceIn {
  @include bounceIn();
}

a {
  color: $red;
  &:hover {
    color: $gray;
  }
}

.nav {
  li {
    a {
      font-weight: bold;
      font-size: 1.5em;
      &:hover {
        color: $red;
      }
    }
  }
}

.alarm-box {
  &:hover {
    .fa-bell-o {
      @include shake(infinite)
    }
  }
}

.dropdown-menu {
  li {
    a {
      color: $red;
    }
  }
}

.main-menu {
  margin-top: 10px;
  li:last-child {
    border: none;
  }
  li {
    border-right: 1px solid lighten($gray, 20%);
    a {
      text-transform: uppercase;
      font-size: 1.4em;
      color: $gray;
      font-weight: 300;
      padding: 12px 20px;
      display: block;

    }
    &:hover {
      a {
        color: $red;
        border-bottom: 1px dashed $gray;
        text-decoration: none;
      }
    }
  }

}

.main-container {
  .brand-logo {
    margin: 0;
    padding: 0 0 10px;
  }
}

h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.067;
  strong {
    font-weight: 700;
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.top-search {
  input {
    height: 49px;
  }
}

.margin-top-30 {
  margin-top: 30px;
}

.alarm-header {
  text-transform: uppercase;
  font-size: 1.46em;
}

.alarm-number {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1em;
}

.x15 {
  font-size: 1.5em;
}

.x25 {
  font-size: 2.5em;
}

.glyphicons {
  color: $red;
  &:before {
    padding: 0 !important;
  }
}

.dhicons-sprite {
  display: inline-block;
}

.gray-txt {
  color: $gray;
}

.red-txt {
  color: $red;
}

.glyphicons {
  &.white {
    color: #ffffff;
  }
  &.red {
    color: $red;
  }
  &.x07 {
    font-size: 0.7em;
  }
  &.x08 {
    font-size: 0.8em;
  }
}

.additional {
  margin-top: 250px;
  font-size: 1.8em;
}

.navbar-red {
  border: none;
  border-bottom: 10px solid $red;
  .navbar-brand {
    padding: 19px 10px 5px;
    img {
      max-height: 50px;
    }
  }
  background: white;
  color: $red;
  .navbar-toggle {
    border: 0;
    background: none !important;
  }

  .glyphicons-menu-hamburger {
    display: none;
  }
  .collapsed {
    .glyphicons-remove {
      display: none;
    }
    .glyphicons-menu-hamburger {
      display: block;
    }
  }
}

.search-form {
  padding: 5px 0;
  .input-group {
  }
}

input:focus {
  border: solid 1px #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.input-group {
  .form-control {
    border-right: none;
  }
}

.page-header {
  margin: 5px 0;
  border: none;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5em;
    strong {
      font-weight: 700;
    }
  }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input,
.uneditable-input:focus {
  border-color: #ccc;
  outline: 0 none;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-appearance: none !important;
}

.form-control {
  font-size: 16px;
}

.btn-primary {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 300;
  border: none;
  border-radius: 3px;
  background-image: -moz-linear-gradient(45deg, rgb(147, 40, 38) 0%, rgb(240, 127, 60) 100%);
  background-image: -webkit-linear-gradient(45deg, rgb(147, 40, 38) 0%, rgb(240, 127, 60) 100%);
  background-image: -ms-linear-gradient(45deg, rgb(147, 40, 38) 0%, rgb(240, 127, 60) 100%);
}

.btn-default {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 300;
  border: none;
  border-radius: 3px;
  color: white;
  background-image: -moz-linear-gradient(45deg, rgb(60, 60, 59) 0%, rgb(135, 135, 135) 100%);
  background-image: -webkit-linear-gradient(45deg, rgb(60, 60, 59) 0%, rgb(135, 135, 135) 100%);
  background-image: -ms-linear-gradient(45deg, rgb(60, 60, 59) 0%, rgb(135, 135, 135) 100%);
  &:hover {
    color: $red;
  }
}

.btn-clear {
  background: white;
  border: 1px solid #ccc;
}

.btn-primary {
  &:hover {
    background-image: -moz-linear-gradient(45deg, rgb(60, 60, 59) 0%, rgb(135, 135, 135) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(60, 60, 59) 0%, rgb(135, 135, 135) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(60, 60, 59) 0%, rgb(135, 135, 135) 100%);

  }
}

.swiper-products {

  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .cache {
    margin: 0 5px;
    position: relative;
    text-align: center;
    .img-label {
      max-width: 320px;
      width: 80%;
      margin: 10% auto;
      padding: 5%;
      top: 30%;
      background: rgba(255, 255, 255, 0.8);
      h3 {
        font-weight: 700;
        padding: 0 0 10px;
        margin: 0;
      }
    }
  }
  .swiper-slide {

    &:hover {
      -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(100%);
      filter: gray;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");

      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      color: white;
      .img-label {

      }
    }
  }
}

.swiper-paralax {

  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: url("../images/paralaxa.jpeg") no-repeat center center;
  .row {
    padding: 0 20px;
    color: white;
    h3, p {
      max-width: 80%;
      margin: 10px auto;
    }
  }
}

.circle {
  margin-top: 20px;
  i {
    margin: 0 auto;
    display: block;
  }
}

.white-bg {
  background: white;
}

.parallax-window {

  background: transparent;
  min-height: 614px;
}

.on-parallax {

  color: white;
  .row {
    padding: 40px 0;
  }
  .lead {
    font-size: 18px;
    line-height: 1.2;
  }
  h3 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.2;

  }
}

.authorized-representative {
  //margin-top: -614px;
}

.gradient-bg {
  background-image: -moz-linear-gradient(45deg, rgb(147, 40, 38) 0%, rgb(240, 127, 60) 100%);
  background-image: -webkit-linear-gradient(45deg, rgb(147, 40, 38) 0%, rgb(240, 127, 60) 100%);
  background-image: -ms-linear-gradient(45deg, rgb(147, 40, 38) 0%, rgb(240, 127, 60) 100%);

}

.ring-ding-dong {
  //@include shake(infinite)
}

.map {
  z-index: 0;
  width: 100%;
  min-height: 500px;
  background: url("../images/map.png") center center no-repeat;
}

.map-container {
  margin: 0 auto;
  padding: 0;
}

.contact-btn {
  margin: 10px;
  font-size: 1.4em;
  border-radius: 2px;
  padding: 10px;
  .wrapper {
    min-height: 100px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 20px;
    display: block;
    color: white;
    text-decoration: none;
    &.send-message, &.make-call {
      strong {
        margin-top: 13px;
        display: block;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
    a {
      color: white
    }
    .glyphicons {
      margin-top: 10px;
    }
    //strong{
    //  padding: 20px 0;
    //  display: block;
    //}
  }
}

.white-txt {
  color: white;
}

.newsletter-bar {
  padding: 20px;
  h3 {
    padding: 0;
    margin: 0;
  }
  label {
    //margin-bottom: 0;
    //vertical-align: middle;
  }
  input {
    height: 35px;
    border: none;
    font-size: 18px;
  }
}

.btn-clear {
  background: none;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  a {
    display: block;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: $red;
    padding: 5px;
    &:hover {
    }
  }

}

.btn-newsletter {
  background: none;
  border: 1px solid white;
  margin: 0 auto;
  &:hover {
    color: white;
    span {
      @include rotateIn();
    }

  }
}

.swiper-button-next, .swiper-button-prev {
  background: none;
  .fa {
    color: $red;
  }
}

.fa {
  &.red {
    color: $red;
  }
}

.social {
  a {
    margin: 10px 5px;
  }
}

.credits {
  .lead{
  margin: 5px auto;
    color: $gray;
    a {
      color: white;
    }
  }
}
.rollIn{

  @include bounceIn();
}

.img-center {
  margin: 0 auto;
}

.footer {
  background: $darkgray;
  color: white;
  ul {
    margin: 30px 0;
    li {
      a {
        color: $gray;
        font-size: 1.8em;
        &:hover {
          color: white;
        }
      }
    }
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .circle {
    width: 120px !important;
    height: 120px !important;
  }
  .main-menu {
    li {
      padding: 12px;
      a {
        font-size: 1.4em;
      }
    }
  }
}

@media (min-width: $screen-md) {

  .contact-btn {
    margin-bottom: -50px;
    position: relative;
    z-index: 1;
    .wrapper {
      //font-size: 1.4em;
      //strong{
      //  margin-top: 10px;
      //}
    }
  }
  .slider-container {
    margin-top: 10px;
  }
  .page-header {

    h2 {
      margin: 50px 0;
      font-size: 3em;
    }
  }
  .swiper-container {

    .swiper-slide {
      min-height: 640px;
      h2 {
        font-size: 3.5em;
        margin-top: 170px;
      }
      h3 {
        font-size: 3em;
      }
    }
  }
}
@media (max-width: $screen-sm){

  .page-header {
    h2{
      font-size: 1.8em;
    }
  }
}
@media (min-width: $screen-sm) {
  .form-inline {
    label {
      margin: 0;
      vertical-align: middle;
    }
  }
}

@media (min-width: $screen-lg) {

  .swiper-container {

    .swiper-slide {
      min-height: 700px;
    }
  }
}

