<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html xmlns:f="http://www.w3.org/1999/html">
<head>
    <f:section name="stylesheets">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,100&subset=latin,latin-ext'
              rel='stylesheet'
              type='text/css'>

        <link href="{f:uri.resource(path: 'stylesheets/styles.css', package: 'App.Site')}" rel="stylesheet"
              type="text/css"/>

    </f:section>
    <f:section name="headScripts">

        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Put your scripts inclusions for the head here, they will be included in your website by TypoScript -->
    </f:section>

</head>
<body>
<f:section name="body">
    {parts.header -> f:format.raw()}
    {parts.menu -> f:format.raw()}
    {parts.breadcrumb -> f:format.raw()}
    {content.main -> f:format.raw()}


    <div class="container">
        <div class="row">
            <div class="visible-lg visible-md col-md-5">
                <p class="lead wow fadeInUp additional">
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ultrices neque, sed
                        pretium risus dapibus laoreet. Proin nec enim cursus, malesuada mi nec, hendrerit risus. Phasellus
                        laoreet facilisis urna, non l</strong>
                </p>
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <div class="page-header wow fadeInUp">
                    <h2>O <strong>nas</strong></h2>
                </div>
                <p class="lead wow fadeInUp">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ultrices neque, sed
                    pretium risus dapibus laoreet. Proin nec enim cursus, malesuada mi nec, hendrerit risus. Phasellus
                    laoreet facilisis urna, non luctus ante porttitor sit amet. Nunc leo diam, condimentum vitae aliquet
                    sed, imperdiet non ipsum. Nulla dapibus vehicula eros quis porta. Aenean ut libero feugiat, laoreet
                    magna lacinia, tristique lectus. Praesent scelerisque malesuada dui at molestie. Sed sagittis eros
                    arcu, et elementum dui aliquam nec.
                </p>
                <p class="lead red-txt wow fadeInUp">
                    Maecenas nec elit ligula. Nunc non congue ante. Donec at mi non est porta facilisis vel nec
                    risus.<strong>Mauris est sem, auctor eu tristique laoreet, commodo nec elit. Curabitur gravida
                    lobortis lacus at consectetur.</strong> Curabitur hendrerit pellentesque suscipit. Ut congue
                    bibendum enim non porta.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInUp">
                    <h2><strong>Nasza</strong> Oferta</h2>
                </div>
                <div class="swiper-products wow fadeInUp">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide parallax-bg text-center white-txt"
                             style="background-image: url({f:uri.resource(path: 'images/cache2.png', package: 'App.Site')})" data-swiper-parallax="-23%">

                            <div class="cache">
                                <div class="img-label" data-swiper-parallax="-100">
                                    <h3 class="red-txt">Łożyska</h3>
                                    <p class="red-txt lead">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                    <a href="" class="btn btn-primary">Więcej</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide parallax-bg text-center white-txt"
                             style="background-image: url({f:uri.resource(path: 'images/cache.png', package: 'App.Site')})" data-swiper-parallax="-23%">

                            <div class="cache">
                                <div class="img-label" data-swiper-parallax="-100">
                                    <h3 class="red-txt">Łożyska</h3>
                                    <p class="red-txt lead">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                    <a href="" class="btn btn-primary">Więcej</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide parallax-bg text-center white-txt"
                             style="background-image: url({f:uri.resource(path: 'images/cache2.png', package: 'App.Site')})" data-swiper-parallax="-23%">
                            <div class="cache" data-swiper-parallax="-100">
                                <div class="img-label">
                                    <h3 class="red-txt">Łożyska</h3>
                                    <p class="red-txt lead">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.</p>
                                    <a href="" class="btn btn-primary">Więcej</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev prod-nav-prev"><i class="fa fa-4x fa-angle-left"></i></div>
                    <div class="swiper-button-next prod-nav-next"><i class="fa fa-4x fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="visible-lg visible-md col-md-5">
                <p class="lead wow fadeInUp additional">
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ultrices neque, sed
                        pretium risus dapibus laoreet. Proin nec enim cursus, malesuada mi nec, hendrerit risus. Phasellus
                        laoreet facilisis urna, non luctus </strong>
                </p>
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-1">
                <div class="page-header wow fadeInUp">
                    <h2><strong>Firma</strong><br/>Z tradycjami</h2>
                </div>
                <p class="lead wow fadeInUp">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultricies ultrices neque, sed
                    pretium risus dapibus laoreet. Proin nec enim cursus, malesuada mi nec, hendrerit risus. Phasellus
                    laoreet facilisis urna, non luctus ante porttitor sit amet. Nunc leo diam, condimentum vitae aliquet
                    sed, imperdiet non ipsum. Nulla dapibus vehicula eros quis porta. Aenean ut libero feugiat, laoreet
                    magna lacinia, tristique lectus. Praesent scelerisque malesuada dui at molestie. Sed sagittis eros
                    arcu, et elementum dui aliquam nec.
                </p>
                <p class="lead red-txt wow fadeInUp">
                    Maecenas nec elit ligula. Nunc non congue ante. Donec at mi non est porta facilisis vel nec
                    risus.<strong>Mauris est sem, auctor eu tristique laoreet, commodo nec elit. Curabitur gravida
                    lobortis lacus at consectetur.</strong> Curabitur hendrerit pellentesque suscipit. Ut congue
                    bibendum enim non porta.
                </p>
            </div>
        </div>
    </div>
    <div class="visible-xs visible-sm wow fadeInUp container">
        <div class="swiper-paralax">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="circle small" data-swiper-parallax="-100"><i
                                    class="dhicons-sprite dhicons-circle1-small"></i></div>
                        </div>

                        <div class="col-xs-12">
                            <h3 data-swiper-parallax="-200">Solupta eceatus in es </h3>
                            <p class="lead" data-swiper-parallax="-300">
                                Solupta eceatus comniet in es sendior anditia erferferum delibus enis atium quamus,
                                soluptus.
                                Hicae ducia veliquidunt fuga. Itatiorum omnis utemolessum sit evenditi bea dernatem et que
                                peribus daecust.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="circle small" data-swiper-parallax="-100"><i
                                    class="dhicons-sprite dhicons-circle2-small"></i></div>
                        </div>

                        <div class="col-xs-12">
                            <h3 data-swiper-parallax="-200">Solupta eceatus in es </h3>
                            <p class="lead" data-swiper-parallax="-300">
                                Solupta eceatus comniet in es sendior anditia erferferum delibus enis atium quamus,
                                soluptus.
                                Hicae ducia veliquidunt fuga. Itatiorum omnis utemolessum sit evenditi bea dernatem et que
                                peribus daecust.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="circle small" data-swiper-parallax="-100"><i
                                    class="dhicons-sprite dhicons-circle3-small"></i></div>
                        </div>

                        <div class="col-xs-12">
                            <h3 data-swiper-parallax="-200">Solupta eceatus in es </h3>
                            <p class="lead" data-swiper-parallax="-300">
                                Solupta eceatus comniet in es sendior anditia erferferum delibus enis atium quamus,
                                soluptus.
                                Hicae ducia veliquidunt fuga. Itatiorum omnis utemolessum sit evenditi bea dernatem et que
                                peribus daecust.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="circle small" data-swiper-parallax="-100"><i
                                    class="dhicons-sprite dhicons-circle4-small"></i></div>
                        </div>

                        <div class="col-xs-12">
                            <h3 data-swiper-parallax="-200">Solupta eceatus in es </h3>
                            <p class="lead" data-swiper-parallax="-300">
                                Solupta eceatus comniet in es sendior anditia erferferum delibus enis atium quamus,
                                soluptus.
                                Hicae ducia veliquidunt fuga. Itatiorum omnis utemolessum sit evenditi bea dernatem et que
                                peribus daecust.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev para-nav-prev"><i class="fa fa-4x fa-angle-left"></i></div>
            <div class="swiper-button-next para-nav-next"><i class="fa fa-4x fa-angle-right"></i></div>


        </div>
    </div>
    <div class="not-fullscreen background parallax" style="background-image:url({f:uri.resource(path: 'images/paralaxa.jpeg', package: 'App.Site')})"
         data-img-width="1600" data-img-height="1064" data-diff="100">


        <div class="container visible-lg visible-md on-parallax">
            <div class="row">
                <div class="col-md-2">
                    <div class="circle">
                        <i class="dhicons-sprite dhicons-circle1-small hidden-lg"></i>
                        <i class="dhicons-sprite dhicons-circle1 visible-lg"></i>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Solupta eceatus in es </h3>
                    <p class="lead">
                        Solupta eceatus comniet in es sendior anditia erferferum delibus enis atium quamus, soluptus. Hicae
                        ducia veliquidunt fuga. Itatiorum omnis utemolessum sit evenditi bea dernatem et que peribus
                        daecust.
                    </p>
                </div>
                <div class="col-md-2">
                    <div class="circle">
                        <i class="dhicons-sprite dhicons-circle2-small hidden-lg"></i>
                        <i class="dhicons-sprite dhicons-circle2 visible-lg"></i>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Solupta eceatus in es </h3>
                    <p class="lead">
                        Solupta eceatus comniet in es sendior anditia erferferum delibus enis atium quamus, soluptus. Hicae
                        ducia veliquidunt fuga. Itatiorum omnis utemolessum sit evenditi bea dernatem et que peribus
                        daecust.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="circle">
                        <i class="dhicons-sprite dhicons-circle3-small hidden-lg"></i>
                        <i class="dhicons-sprite dhicons-circle3 visible-lg"></i>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Solupta eceatus in es </h3>
                    <p class="lead">
                        Solupta eceatus comniet in es sendior anditia erferferum delibus enis atium quamus, soluptus. Hicae
                        ducia veliquidunt fuga. Itatiorum omnis utemolessum sit evenditi bea dernatem et que peribus
                        daecust.
                    </p>
                </div>
                <div class="col-md-2">
                    <div class="circle">
                        <i class="dhicons-sprite dhicons-circle4-small hidden-lg"></i>
                        <i class="dhicons-sprite dhicons-circle4 visible-lg"></i>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3>Solupta eceatus in es </h3>
                    <p class="lead">
                        Solupta eceatus comniet in es sendior anditia erferferum delibus enis atium quamus, soluptus. Hicae
                        ducia veliquidunt fuga. Itatiorum omnis utemolessum sit evenditi bea dernatem et que peribus
                        daecust.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <f:render partial="Footer" arguments="{footerSecondMenu:parts.footerSecondMenu,footerMenu:parts.footerMenu}"/>

</f:section>
<f:section name="bodyScripts">

    <script src="{f:uri.resource(path: 'javascripts/jquery.min.js', package: 'App.Site')}"></script>
    <script src="{f:uri.resource(path: 'javascripts/bootstrap.js', package: 'App.Site')}"></script>
    <script src="{f:uri.resource(path: 'javascripts/swiper.jquery.js', package: 'App.Site')}"></script>
    <script src="{f:uri.resource(path: 'javascripts/parallax.min.js', package: 'App.Site')}"></script>
    <script src="{f:uri.resource(path: 'javascripts/wow.js', package: 'App.Site')}"></script>

    <script src="{f:uri.resource(path: 'javascripts/app.js', package: 'App.Site')}"></script>
</f:section>
</body>
</html>
