{namespace ts=Neos\Fusion\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}



<neos:contentElement.wrap>
    <div class="swiper-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="swiper-container">
                        {slides->f:format.raw()}
                    <div class="swiper-button-prev top-nav-prev"><i class="fa fa-4x fa-angle-left"></i></div>
                    <div class="swiper-button-next top-nav-next"><i class="fa fa-4x fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</neos:contentElement.wrap>
