{namespace neos=Neos\Neos\ViewHelpers}
{namespace typo3cr=Neos\ContentRepository\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<neos:contentElement.wrap>
    <f:if condition="{collection}">
        <f:then>
            <typo3cr:widget.paginate nodes="{collection}" as="paginatedNewsItems" widgetId="{node.name}" configuration="{configuration.pagination}">
                <div>
                    <f:for each="{paginatedNewsItems}" as="news">
                        {news.label}
                    </f:for>
                </div>
            </typo3cr:widget.paginate>
        </f:then>
        <f:else>
            <p><f:translate id="noNewsToDisplay" package="DevHero.News">No news to display</f:translate></p>
        </f:else>
    </f:if>
</neos:contentElement.wrap>