{namespace neos=Neos\Neos\ViewHelpers}
<neos:contentElement.wrap>
    <f:if condition="{author}">{author.label}</f:if>
    <neos:contentElement.editable property="title" tag="h1"/>
    {main -> f:format.raw()}
    <f:if condition="{publicatedAt}">
        <div>
            <f:format.date format="{configuration.dateFormat}">{publicatedAt}</f:format.date>
        </div>
    </f:if>
    <div>
        <f:if condition="{newsPrev}">
        <neos:link.node node="{newsPrev}">{f:translate(id:'previous',package:'DevHero.News')}</neos:link.node></f:if>

        <f:if condition="{newsNext}"><neos:link.node node="{newsNext}">{f:translate(id:'next',package:'DevHero.News')}</neos:link.node></f:if>
    </div>
    <f:if condition="{tags}">
        <ul>
            <f:for each="{tags}" as="tag" iteration="tagIterator">
                <a href="{neos:uri.node(node: tag)}">{tag.label}</a>
            </f:for>
        </ul>
    </f:if>
</neos:contentElement.wrap>