@import 'Base/mixins';
@import 'Base/variables';
@import 'Base/fonts';

@import "Vendors/fontawesome/_font-awesome";
@import "Vendors/animation/animate";

@import 'Base/bootstrap-custom';
@import 'Base/global';

@import 'Components/index';


:focus {
  outline: none;
}
.neos-backend{
  .js-control {
    display: none;
  }
}







