.btn {
  @include font("Montserrat", 400);
  font-size: 4vw;
  @media screen and (min-width: $screen-sm) {
    font-size: 13pt;
  }
  letter-spacing: 1.01px;
  line-height: 20px;

  color: $brand-secondary;
  background: $c-white;
  border: 1px solid white;
  /* Button Background: */
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.10);
  text-transform: uppercase;
  transition: 0.4s ease;
  padding: 15px 20px;

  border-radius: 30px;

  &:hover, &:focus, &:active {
    color: $c-white;
    background: $brand-primary;
    border: 1px solid $brand-primary;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.20);
  }

  &--active {
    color: $c-white;
    background: $brand-primary;
    border: 1px solid $brand-primary;
    &:hover {
      color: $brand-secondary;
      background-color: white;
    }
  }

  .fa {
    vertical-align: middle;
  }
  &-primary {
    display: block;
    @media screen and (min-width: $screen-md) {
      display: inline-block;
    }
  }
  &-secondary {
    display: block;
    @media screen and (min-width: $screen-md) {
      display: inline-block;
    }
    border: 1px solid $brand-secondary;
    color: $brand-secondary;
    background: white;
  }
  &-transparent {
    background: transparent;
    display: block;
    @media screen and (min-width: $screen-md) {
      display: inline-block;
    }
    &:hover, &:focus, &:active {
      color: $c-white;
      background: $brand-primary;
      border: 1px solid $brand-primary;
    }
  }

}


