// .desktop-menu {
//   > li {
//     display: inline-block;
//     margin-left: 10px;
//     margin-right: 10px;
//     > a, .menu-btn {
//       border-bottom: 2px solid transparent;
//       cursor: pointer;
//       display: block;
//       height: 60px;
//       font-size: 17px;
//       font-weight: 600;
//     }

//     .menu-btn:hover, .menu-btn.active {
//       border-bottom: 2px solid $c-red;
//       color: $c-red;
//     }
//   }
//   a {
//     color: $c-grey;
//     text-decoration: none;
//   }
//   &:hover {
//     .menu-btn {
//       .fa {
//         color: $c-blue;
//       }
//     }
//   }


// }
// .desktop-menu-container {
//   display: none;
//   position: absolute;
//   margin-top: 1px;
//   padding-top: 30px;
//   padding-bottom: 30px;
//   left: 0;
//   width: 100%;
//   z-index: 11;
//   strong {
//   }
//   a {

//   }
//   li {
//     border:0 !important;
//     &:hover {
//       border:0 !important;
//     }
//   }
//   &.show {
//     display: block;
//   }
// }
