.formulary {
  label {
    @include font("Montserrat", 100);
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    margin-bottom: 10px;
  }
  input, textarea {
    @include font("Montserrat", 100);
    font-size: 16px;
    border-radius: 30px;
    background: $brand-primary;
    border: 1px solid $brand-primary;
    transition: 0.4s ease-in;
    padding-left: 15px;
    &:focus, &:active {
      background: white;
      border: 1px solid $brand-primary;
    }
  }
  input {
    min-height: 50px;
  }
  textarea {
    min-height: 200px;
  }
  .form-group {
    margin-bottom: 20px;
  }
}