.sidebar {
  top: 280px;
  right: 35px;
  position: fixed;
  z-index: 9999999;
  ul {
    border-radius: 30px;
    border: 4px solid $brand-secondary;
    background: transparent;
    right: 35px;
    position: fixed;
    width: 50px;
  }
  li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    .fa {
      transition: 0.3s ease-in;
      text-align: center;
      color: $brand-secondary;
      margin-top: 5px;
      font-size: 20px;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}