{namespace dc=DevHero\Contact\ViewHelpers}
Wiadomość z formularza na stronie,<br/>
<ul>
    <f:for each="{form.formState.formValues}" as="value" key="label">
        <f:if condition="{label}=='inquiry'">
            <f:then>
                <li>{label}: {value->dc:parse()}</li></f:then>
            <f:else>
                <li>{label}: {value}</li></f:else>
        </f:if>
    </f:for>
</ul>