<div class="row">
    <div{attributes->f:format.raw()}>
    {namespace as=App\Site\ViewHelpers}
    <as:ifBackend documentNode="{node}">
        <f:then>
            {cleanContent->f:format.raw()}
        </f:then>
        <f:else>
            {content->f:format.raw()}
        </f:else>
    </as:ifBackend>
</div></div>