{namespace media=Neos\Media\ViewHelpers}
<div{attributes->f:format.raw()}>

<div class="counter__number">
<span class="number js-count counter-value" data-count="{label}" data-id="{iterator.cycle}">0</span>
</div>
<div class="counter__text">
    {header}
</div>
</div>