{namespace as=App\Site\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<div{attributes->f:format.raw()}>

<f:if condition="{neos:rendering.inBackend()}">
    <f:then>
        {cleanContent->f:format.raw()}
    </f:then>
    <f:else>
        {content->f:format.raw()}
    </f:else>
</f:if>
</div>