{namespace media=Neos\Media\ViewHelpers}
<div>
    <div{attributes->f:format.raw()}>
<f:if condition="{image}">
    <media:image image="{image}" alt="{alternativeText}" title="{title}" width="{width}"
                 maximumWidth="{f:if(condition:maximumWidth,then:maximumWidth,else:600)}" height="{height}" maximumHeight="{maximumHeight}"
                 allowUpScaling="{allowUpScaling}" allowCropping="{allowCropping}" class="img-responsive"/>
</f:if>
</div>
</div>